:root {
  --color1: #cd9dd9;
  --color2: #f5e1fd;
  --color3: #b399d4;
  --color4: white;
  --color5: rgb(48, 48, 48);
  --color6: rgb(124, 124, 124);
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--color3);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color5);
}

a:visited {
  color: var(--color5);
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

li a {
  padding: 0 2rem ;
  color: var(--color4);
}

li a:visited {
  color: var(--color4);
}

