body {
  color: var(--color4);
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(var(--color3), var(--color1), var(--color2), var(--color4));
  background-repeat: no-repeat;
  height: 100vh;
}

section {
  margin-left: 2rem;
}

h1 {
  font-size: 2.25rem;
  margin: 0;
  padding: 0;
  letter-spacing: 5px;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 3px;
}

#card-form {
  background-color: var(--color4);
  border-radius: .5rem;
  color: var(--color5);
  height: 9rem;
  width: 25rem;
  padding: 1rem;
  margin-top: 3rem;
  box-shadow: 5px 5px 44px 1px rgb(225, 215, 228);
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.label {
  display: flex;
  justify-content: space-between;
  background-color: var(--color1);
  padding: .5rem;
  border-radius: 3px;
  margin: .5rem 0;
  align-items: center;
  font-weight: bold;
}

.type {
  background-color: var(--color1)
}

select {
  font-size: 1rem;
  width: 12rem;
}

select, .amount div {
  border: 1px solid var(--color5);
  padding: 2px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

input, option, select {
  font-family: 'Nunito', sans-serif;
}

.amount {
  background-color: var(--color2);
}

.amount div {
  background-color: var(--color4);
  padding-left: .5rem;
}

.amount span {
  padding: 0 6px;
}

.amount-input {
  border: none;
  text-align: right;
  font-size: 1rem;
  width: 9.5rem;

}

.button-container {
  display: flex;
  justify-content: center;
  width: 432px;
}

.inactive-button {
 margin: 1rem;
 background-color: rgba(171, 2, 176, 0.084);
 color: rgba(255, 255, 255, 0.268);
 border: none;
 font-size: 1.1rem;
 border-radius: 5px;
 font-family: 'Nunito', sans-serif;
 padding: .5rem 3rem;
}

.active-button {
  margin: 1rem;
  background-color: var(--color1);
  color: var(--color4);
  border: none;
  font-size: 1.1rem;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  padding: .5rem 3rem;
} 

.active-button:hover {
  cursor: pointer;
  background-color: var(--color5);
  transition: .15s ease-in-out;
  box-shadow: 0 0 10px 3px rgb(247, 239, 250);

}

#cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem;
  border-radius: .5rem;
  width: 25rem;
  height: 0;
}

.card {
  display: flex;
  align-items: center;
}

.card:hover {
  cursor: pointer;
  border: 3px solid var(--color5);
  transition: .08s ease-out;
  background-color: var(--color4);
  border-radius: .5rem;
  padding: 0 5px;
}

.card:hover .fa-trash{
  font-size: 1.6rem;
  color: var(--color5);
  padding-right: .5rem;
  transition: .08s;
  clip: unset;
  position: relative;
}

.card:hover .card-info {
  box-shadow: none;
}

.fa-trash {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  color: transparent
}

.card .fa-trash:hover {
  color: var(--color3)
}

.card-info {
  text-align: left;
  background-color: var(--color4);
  width: 25rem;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: .5rem;
  color: var(--color5);
  box-shadow: 5px 3px 12px .5px rgb(206, 200, 208);
}

.card-type {
  font-weight: bold;
  font-size: 1.3rem;
}

.card-amount {
  letter-spacing: .5px;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 1.6rem;
  color: var(--color1);
  padding-right: .5rem;
}